@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #EDEDED;
    --color-text: #333333;
    --color-primary: #302815;
    --color-secondary: #cbcbcb;
    --color-accent: #6c3a10;

    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}